.settings/
.project
configuration.php
/cache/
administrator/cache
tmp/
.DS_Store
*_notes/
administrator/components/com_tienda/library/select.php

administrator/language/en-GB/en-GB.com_tienda.ini

administrator/components/com_tienda/library/select.php

libraries/dioscouri/library/view/footer

*.sublime-workspace

*.sublime-workspace

plugins/tienda/crowdfunding/Corona.sublime-workspace

*.sublime-workspace

plugins/tienda/crowdfunding/Corona.sublime-workspace

_notes/dwsync.xml

administrator/components/com_messagebottle/helpers/MessageBottle.sublime-project

logs/jcontroller.log.php

logs/jcontroller.log.php
